@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: unset !important;
}

.breadcrumbs a.active{
  text-decoration: none;
  pointer-events: none;
}

a.btn {
  text-decoration: none;
}
